<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-full.js"></script>
    <script type="text/javascript" src="/Assets/js/site.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <link rel="stylesheet" href="Assets/css/animations.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/Assets/css/view.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <!-- Load external PaperScript and associate it with myCanvas -->
    <script type="text/paperscript" canvas="myCanvas">

// The amount of circles we want to make:
var count = 400;
// Create a symbol, which we will use to place instances of later:
var path = new Path.Circle({
    center: [0, 0],
    radius: 0.6,
    fillColor: '#fff',
    strokeColor: '#fff'
});
var symbol = new Symbol(path);
// Place the instances of the symbol:
for (var i = 0; i < count; i++) {
    // The center position is a random point in the view:
    var center = Point.random() * view.size;
    var placedSymbol = symbol.place(center);
    placedSymbol.scale(i / count);
}
// The onFrame function is called up to 60 times a second:
function onFrame(event) {
    // Run through the active layer's children list and change
    // the position of the placed symbols:
    for (var i = 0; i < count; i++) {
        var item = project.activeLayer.children[i];

        // Move the item 1/20th of its width to the right. This way
        // larger circles move faster than smaller circles:
        item.position.x += item.bounds.width / 3;

        // If the item has left the view on the right, move it back
        // to the left:
        if (item.bounds.left > view.size.width) {
            item.position.x = -item.bounds.width;
        }
    }
}
</script>
</head>

<body>
    <div id="container">
        <canvas id="myCanvas" resize></canvas>
        <div class="container" id="intro">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="titleFont">Hello, I'm
                        <span class="name">Trenton Neilson.</span>
                    </h1>
                    <h1 class="titleFont">I'm a QA Engineer.</h1>
                    <button class="myButton"><span id="buttonText">View My Work</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="navBar">
        <nav class="navbar navbar-inverse" id="navMenu">
            <div class="navbar-header" id="testHead">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="Assets/Images/tn.png" id="logo">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="home">Home</a>
                    </li>
                    <li>
                        <a class="about">About</a>
                    </li>
                    <li>
                        <a class="portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <section id="aboutMe">
    <div class="container" id="topView">
        <div class="row">
            <div class="col-xs-12">
                <div class="animatedParent animateOnce" data-sequence="200">
                    <h1 class="animated fadeInLeft" data-id="1">About</h1>
                    <hr class="animated fadeInLeft lineUnder" data-id="2">
                </div>
            </div>
        </div>
        <div class="row" id="skillsRow">
            <div class="animatedParent animateOnce" data-sequence="200">
                <div class="col-md-3 col-xs-6">
                    <div class="animated fadeInLeft" data-id="1">
                        <i class="fas fa-certificate largeIcon">
                            <i class="fas fa-fighter-jet smallIcon"></i>
                        </i>
                        <h2>Dynamic</h2>
                        <strong>
                            <p class="pTop">Static pages? Easy. Making pages stand out and be dynamic is what I love most.</p>
                        </strong>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="animated fadeInLeft" data-id="2">
                        <i class="fas fa-certificate largeIcon">
                            <i class="fas fa-users smallIcon"></i>
                        </i>
                        <h2>Reliable</h2>
                        <strong>
                            <p class="pTop">Fast load times. Easy to use. I'm always thinking of the end user.</p>
                        </strong>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="animated fadeInLeft" data-id="3">
                        <i class="fas fa-certificate largeIcon">
                            <i class="far fa-lightbulb smallIcon"></i>
                        </i>
                        <h2>Intuitive</h2>
                        <strong>
                            <p>What more and what else would help our users? Always thinking of new ideas.</p>
                        </strong>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="animated fadeInLeft" data-id="4">
                        <i class="fas fa-certificate largeIcon">
                            <i class="fas fa-mobile-alt smallIcon"></i>
                        </i>
                        <h2>Responsive</h2>
                        <strong>
                            <p>Tablet or cell phone? My layouts will work on any device.</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="animatedParent animateOnce"  data-sequence="500">
                <div class="col-md-6 col-sm-6 col-xs-12 animated fadeInLeft" data-id="1">
                   
                        <img class="img-responsive img-rounded center-block" src="Assets/Images/me2.png" alt="trenton" id="personalPhoto">
                        <h2 class="meDescription">Who am I?</h2>
                        <p class="meDescription">I'm a QA Engineer at <a href="https://1800contacts.com">1800-CONTACTS </a>looking to make the transition into web development. I am attending
                            Salt Lake Community College where I attend classes for Computer Science and am also self taught.
                        </p>
                    
                </div>
                <div class="container">
                    <div class="animated fadeInRight col-md-6 col-sm-6 col-xs-12" data-id="1">
                        <h2 class="skillsTitle">Skills</h2>
                        <div class="skills">HTML</div>
                        <div class="progress">
                            <div class="progress-bar animated fadeInLeft" data-id="2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                style="width:70%">
                                70%
                            </div>
                        </div>
                        <div class="skills">CSS</div>
                        <div class="progress">
                            <div class="progress-bar animated fadeInLeft" data-id="2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                style="width:55%">
                                55%
                            </div>
                        </div>
                        <div class="skills">Javascript</div>
                        <div class="progress">
                            <div class="progress-bar animated fadeInLeft" data-id="2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                style="width:40%">
                                40%
                            </div>
                        </div>
                        <div class="skills">NodeJS</div>
                        <div class="progress">
                            <div class="progress-bar animated fadeInLeft" data-id="2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                style="width:90%">
                                90%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        </section>

<section id="projects">
    <div class="container">
        <div class="animatedParent animateOnce projectContainer" data-sequence="300">
            <h1 class="animated fadeInRight" data-id="1">Projects</h1>
            <hr class="animated fadeInRight lineUnder" data-id="2">
                <div class="row">
                
                    <div class="col-xs-6 col-md-4 projectPictures">
                        <img class="img-responsive img-rounded center-block animated fadeInUp" data-id="3" src="Assets/Images/me2.png" alt="projects">
                    </div>
                    <div class="col-xs-6 col-md-4 projectPictures">
                        <img class="img-responsive img-rounded center-block animated fadeInUp" data-id="3" src="Assets/Images/me2.png" alt="projects">
                    </div>
                    <div class="col-xs-6 col-md-4 projectPictures">
                        <img class="img-responsive img-rounded center-block animated fadeInUp" data-id="4" src="Assets/Images/me2.png" alt="projects">
                    </div>
                    <div class="col-xs-6 col-md-4 projectPictures">
                        <img class="img-responsive img-rounded center-block animated fadeInUp" data-id="4" src="Assets/Images/me2.png" alt="projects">
                    </div>
                    <div class="col-xs-6 col-md-4 projectPictures">
                        <img class="img-responsive img-rounded center-block animated fadeInUp" data-id="5" src="Assets/Images/me2.png" alt="projects">
                    </div>
                    <div class="col-xs-6 col-md-4 projectPictures">
                        <img class="img-responsive img-rounded center-block animated fadeInUp" data-id="5" src="Assets/Images/me2.png" alt="projects">
                    </div>
                
                </div>
        </div>
</div>
</section>

<section id="contactMe">
        <div class="container" id="contactView">
            <div class="animatedParent animateOnce" data-sequence="300">
                <h1 class="animated fadeInLeft" data-id="1">Contact</h1>
                <hr class="animated fadeInLeft lineUnderContact" data-id="2">

                    <form action="/contact" class="animated fadeInUpShort" data-id="3" id="contactForm" method="post" role="form">
                        <input type="text" id="fname" name="name" placeholder="Name" required>
                        <input type="text" id="lname" name="email" placeholder="Your Email" required>
                        <textarea id="subject" name="message" placeholder="Message" required></textarea>
                        <input type="submit" class="emailButton" value="Submit" onclick="resetForm()">              
                    </form>
            </div>
        </div>
</div>
</section>

<section id="footer">
<div id="upContainer">
<a class="toTop"><div id="upArrow"><i class="fas fa-angle-double-up upIcon"></i></div></a>
</div>
<div id="socialContainer">
    <a href="https://www.linkedin.com/in/trenton-neilson/" target="_blank" required>
        <div class="square">
            <i class="fab fa-linkedin-in socialIcon"></i>
        </div>
    </a>
    <a href="https://www.facebook.com/trenton.neilson" target="_blank"> 
        <div class="square">
            <i class="fab fa-facebook-f socialIcon"></i>
        </div>
    </a>
    <a href="https://www.instagram.com/t_neil14/" target="_blank">
        <div class="square">
            <i class="fab fa-instagram socialIcon"></i>
        </div>
    </a>
    <a href="https://github.com/Ninnon" target="_blank">
        <div class="square">
        <i class="fab fa-github socialIcon"></i>
        </div>
    </a>
</div>
<p id="myName">Trenton Neilson &copy; 2018</p>
</section>


            







                <script src="Assets/js/css3-animate-it.js"></script>
</body>

</html>