body, html {
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    
}

#viewWorkButton {
    margin-top: 8px;
}

a {
    cursor:pointer;
}

.projectPictures {
    margin-bottom:30px;
}




strong p {
    font-size:11px;
}

.largeIcon {
    font-size:7em;
    color: #116466;
}

.smallIcon {
    position:absolute;
    color: #FFCB9A;
    left:0;
    right:0;
    font-size:30px;
    top:32px;

}
 
#aboutMe {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x:hidden;
    overflow-y:hidden;
}


#projects {
    background-color: #f5f5f5;
    padding-top:50px;
    padding-bottom:50px;
    overflow-x:hidden;
    overflow-y:hidden;
}

#contactMe {
    padding-top:50px;
    background-color:#2D2D2D;
    color: #D1E8E2;
    padding-bottom:50px;
}

#emailSubmit {
    float:right;
}

#subject {
    height:150px;
}


.box {
         width:400px;
        height:400px;
        background-color:#aaaa00;
        margin:150px auto;
 }

 div h2 {
     text-align:center;
 }

 .meDescription {
     text-align:center;
 }

 #skillsRow {
     text-align:center;
     margin-bottom:62px;
 }

.lineUnder {
   border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width:25%;
    margin-bottom:40px;
}

.lineUnderContact {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(164, 182, 177), rgba(0, 0, 0, 0));
    width:25%;
    margin-bottom:55px;
}

 .about {
     padding-top:60px;
 }


.name {
    color:  #4dffdb;
}

.viewWork {
    padding-right:5%;
}
canvas {
  position: absolute;
  height:100%; 
  width:100%;
  border: 1px solid black;
  background-color:#272727;
  margin:0;
}

.titleFont {
    font-size:42px;
}



#container {
    width: 100%;
    min-height:100%;
}

#intro {
    text-align:center;
    padding-top:25vh;
    color:white;
}

nav.navbar.navbar-inverse {
    margin-bottom: 0px;
    border-bottom: 2px solid #66b3ff;
}


h1 {
    text-align:center;
}

/* #myNavbar ul li {
    padding-left: 14px;
    font-size:16px;
} */

.navbar-inverse .navbar-nav>li>a {
    color: #D1E8E2;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #FFCB9A;
}

#navMenu {
    border:0px;
    border-radius: 0px;
    border-bottom: 4px solid #116466;
}

#logo {
    width: 10%;
    position:relative;
    top:12px;
    left:12px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #aboutMe {
  padding-top:105px;
}

.skills {
    position:relative;
    float:left;
    background-color: #2C3531;
    width:28%;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color:#D1E8E2;
    height:30px;
    line-height:30px;
}
.skillsTitle {
    text-align:center;
}

.pTop {
    margin-bottom:22px;
}

.progress {
    height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    BORDER-RADIUS: 0px;
}

.progress-bar {
    background-image: -webkit-linear-gradient(top,#116466 0,#116466 100%);
    background-image: -o-linear-gradient(top,#116466 0,#116466 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#116466),to(#116466));
    background-image: linear-gradient(to bottom,#116466 0,#116466 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;
    line-height:30px;
    color: #D1E8E2;
}

#buttonText {
padding-right:8px;
}

.projectContainer {
    padding-right:16px;
    padding-left:16px;
}

.myButton, myButton:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border: 2px solid #4dffdb;
    color: #4dffdb;
    font-size:20px;
    padding:10px 15px;
    margin-top:10px;
    border-radius:8px;
}

.myButton:hover {
    background-color: #4dffdb;
    color: #272727;
}

.emailButton, emailButton:focus {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border: 1px solid #D1E8E2;
    color: #D1E8E2;
    font-size:14px;
    padding:5px 12px;
    border-radius:8px;
    float:right;
}

.emailButton:hover {
    background-color: #D1E8E2;
    color: #272727;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
    background-color: #116466;
    border:none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #D1E8E2;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  #D1E8E2;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:  #D1E8E2;
}

@media screen and (min-width: 768px) {
  #contactForm {
      width: 55%;
      margin: 0 auto;
  }

  #myNavbar ul li {
    padding-left: 14px;
    font-size:16px;
}

#intro {
    padding-top:35vh;
}

.skills {
    width: 17%;
}

strong p {
font-size: 14px;
}

.largeIcon {
    font-size: 8em;
}

.smallIcon {
    font-size: 38px;
    top:35px;
}

.pTop {
    margin-bottom: 0px;
}
.lineUnder {
    margin-bottom:55px;
}

#logo {
    width: 25%;
    position:relative;
    top:10px;
    left:12px;
}

#testHead {
    width:18%;
}


}





















