body, html {
    height:100%;
    margin:0;
    padding:0;
}


canvas {
    width: 100%;
    background-color:#262626;
    margin:0;
}

.box {
         width:400px;
        height:400px;
        background-color:#aaaa00;
        margin:150px auto;
 }

.lineUnder {
   border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width:15%;
}

#topView {
    padding-top:100px;
}
 

 .about {
     padding-top:60px;
 }


.name {
    color: #66b3ff;
}
a.btn.btn-lg.btn-primary {
    margin-top:2%;
}

.viewWork {
    padding-right:8%;
}
canvas {
  position: absolute;
  height:100%; 
  border: 1px solid black;
  height:100%;
}

.titleFont {
    font-size:42px;
}

#container {
    width: 100%;
    min-height:100%;
}

#intro {
    text-align:center;
    padding-top:35vh;
    color:white;
    font-family: 'Raleway', sans-serif;
}

nav.navbar.navbar-inverse {
    margin-bottom: 0px;
    border-bottom: 2px solid #66b3ff;
}


h1 {
    text-align:center;
}

#myNavbar ul li {
    padding-left: 14px;
    font-size:16px;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #66b3ff !important;
}

#navMenu {
    border:0px;
    border-radius: 0px;
    border-bottom: 3px solid #66b3ff;
}

#logo {
    margin: 5px 25px 0px 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/* .sticky + .content {
  padding-top: 60px;
} */









