body, html {
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    
}

#viewWorkButton {
    margin-top: 8px;
}

.projectPictures {
    margin-bottom:30px;
}


canvas {
    width: 100%;
    background-color:#272727;
    margin:0;
}

.largeIcon {
    font-size:8em;
    color: #116466;
}

.smallIcon {
    position:absolute;
    color: #FFCB9A;
    left:0;
    right:0;
    font-size:38px;
    top:35px;

}
 
#aboutMe {
    padding-bottom: 50px;
}


#projects {
    background-color: #f5f5f5;
    padding-top:50px;
}


.box {
         width:400px;
        height:400px;
        background-color:#aaaa00;
        margin:150px auto;
 }

 div h2 {
     text-align:center;
 }

 .meDescription {
     text-align:center;
 }

 #skillsRow {
     text-align:center;
     margin-bottom:62px;
 }

.lineUnder {
   border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width:25%;
    margin-bottom:55px;
}

#topView {
    padding-top:105px;
}
 

 .about {
     padding-top:60px;
 }


.name {
    color:  #4dffdb;
}
a.btn.btn-lg.btn-primary {
    margin-top:2%;
}

.viewWork {
    padding-right:5%;
}
canvas {
  position: absolute;
  height:100%; 
  border: 1px solid black;
  height:100%;
}

.titleFont {
    font-size:42px;
}

#container {
    width: 100%;
    min-height:100%;
}

#intro {
    text-align:center;
    padding-top:35vh;
    color:white;
}

nav.navbar.navbar-inverse {
    margin-bottom: 0px;
    border-bottom: 2px solid #66b3ff;
}


h1 {
    text-align:center;
}

#myNavbar ul li {
    padding-left: 14px;
    font-size:16px;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #FFCB9A;
}

#navMenu {
    border:0px;
    border-radius: 0px;
    border-bottom: 4px solid #116466;
}

#logo {
    margin: 5px 25px 0px 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #aboutMe {
  padding-top:50px;
}

.skills {
    position:relative;
    float:left;
    background-color: #2C3531;
    width:17%;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color:white;
    height:30px;
    line-height:30px;
}
.skillsTitle {
    text-align:center;
}

.progress {
    height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    BORDER-RADIUS: 0px;
}



.progress-bar {
    background-image: -webkit-linear-gradient(top,#116466 0,#116466 100%);
    background-image: -o-linear-gradient(top,#116466 0,#116466 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#116466),to(#116466));
    background-image: linear-gradient(to bottom,#116466 0,#116466 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;
    line-height:30px;
}

/* .btn-group-lg>.btn, .btn-lg {
    padding: 10px 24px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border: 2px solid white;
    color: white;
} */

.btn-primary {
    /* padding:10px 24px; */
    background-image: -webkit-linear-gradient(top,#4dffdb 0,#4dffdb 100%);
    background-image: -o-linear-gradient(top,#4dffdb 0,#4dffdb 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4dffdb),to(#4dffdb));
    background-image: linear-gradient(to bottom,#4dffdb 0,#4dffdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    color: #272727;
    border:none;
}

.btn-primary:hover {
    background-color: #4dffdb;
    color: #272727;
    border:none;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #4dffdb;
    border:none;
    color: #272727;
}















